.Rounded { 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.Shadow {
  -moz-box-shadow: 0px 3px 3px #ccc;
  -webkit-box-shadow: 0px 3px 3px #ccc;
  box-shadow: 0px 3px 3px #ccc;
}

h1 { color: #6B6B6B; } 

.NewTask { 
	width: 621px; 
	font-family: inherit; 
	font-size: 2.2em;
	background: #fffaba;
	color: #6B6B6B;
	padding: .2em;
	margin-right: 10px;
	float: left;
	display: block;
}

#newTaskPlus { 
	display: block;
	float: left;
	cursor: pointer;
}

.UserMenu {
	float: right;
	color: #999;
	margin-top: 5px; 
}

.LeftColumn { padding-top: 15px; padding-bottom: 10px; }
.RightColumn { text-align: right; padding-top: 15px; padding-bottom: 10px; }

#listCombo { width: 210px; }
#ListComboContainer { width: 210px; float: right; margin-bottom: 15px; margin-top: 15px;}

.TaskListButtons { height: 22px; }
.TaskListButtons img {
	margin-left: 20px;
	vertical-align: middle;
}

.TaskListButtons {
	color: #999;
}

.TaskListButtons div {
	display: inline-block;
	cursor: pointer;
	padding-bottom: 4px;
}

.ToggleGroup {
	float: left;
	margin-right:15px;
}

#share {
	float: left;
	padding: 0; 
	width: 48px;
	height: 22px;
	background-image: url(../images/share.png);
	margin-right: 5px;
}

#clearFinished {
	padding: 0; 
	float: right;
	width: 127px;
	height: 22px;
	background-image: url(../images/clear_completed.png);
	margin-right: 5px;
	margin-top: 3px;
}

#clearAll {
	padding: 0;
	float: right;
	width: 77px;
	height: 22px;
	background-image: url(../images/clear_all.png);
	margin-top: 3px;
}

.ButtonDown { background-position: 0px 21px }

.ToggleLabel { 
	display: block;
	float: left;
	padding-bottom:6px;
	padding-right: 4px;
}

.Toggle { 
	background-image: url(../images/on-off.png);
	width: 49px;
	height: 22px;
	overflow: hidden;
	display: inline-block;
}

.ToggleOn { background-position: 0px 0px; }
.ToggleOnDown { background-position: 49px 0px; }
.ToggleOff { background-position: 0px 22px; }
.ToggleOffDown { background-position: 49px 22px; }

.TopPanel { overflow: hidden; }

#collapseHandle { 
	border-top: 1px solid #eee; 
	padding-right: 15px;
	padding-bottom: 20px;
}

#collapseHandle img { cursor: pointer; display: block; float: right; }

.Tasks { 
	background-image: url(../images/diagonals.png);
	background-repeat: repeat;
	margin-bottom: 100px;
	overflow: hidden;
	z-index: 10;
	position: absolute;
	width: 100%;
}

.TaskList { 
	padding: .5em;
	font-size: 3em; 
	list-style-type: none;
	margin: 0;
	padding-bottom: 0;
}

.CompletedTasks { 
	padding-top: 0;
	padding-bottom: 0;
	margin-top: .5em;
	margin-bottom: 120px;
}

.TaskList button.ui-button { width: .8em; margin-right: .3em;}
.TaskList button span.ui-button-icon-primary { left: 0.2em;}
.TaskList li { background: #fff; margin-bottom: .25em; padding: .25em; padding-left: .15em; border: 1px solid #eee;}
.TaskList li > img { display: block; float: left; margin-top: 0em; cursor: pointer;}
.TaskList .DragHandle { background-image: url(../images/handle.png); background-repeat: repeat-y; width: 6px; height: 1.3em; margin-right: .15em; float: left; cursor: move;}
.TaskList li div.TaskContent { display: block; float: right; color: #5e5e5e; width: 828px;}
.TaskList li div.TaskContent > span { color: #6B6B6B; cursor: pointer; line-height: 1em; display: block; width: 800px;}
.TaskList li div.TaskContent > input { display: block; font-size: inherit; font-family: inherit; width: 800px; margin: 0; color: inherit; background: #fffaba; border: 1px solid #ccc;}
.TaskList li div.TaskContent img { float: right; bottom: 0; cursor: pointer; }
.TaskList li.TaskComplete { background: #f2f2f2; }
.TaskList li.TaskComplete .TaskContent > span { color: #d4d4d4;}
.TaskList li.TaskComplete .TaskContent > span.CompletionDate { font-size: .5em; margin-right: .5em;}

.CompletedTasks .DragHandle { visibility: hidden; }

.container { position: relative; }
#man { 
	position: absolute; 
	left: 20px;
	top: 175px;
	z-index: 2; 
	cursor: pointer;
}