.Rounded { 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.NewTask { 
	width: 915px; 
	font-family: inherit; 
	font-size: 3em;
	margin-left: 18px;
	margin-top: .8em;
	background: #fffaba;
	color: #999;
	padding: .2em;
}

.Header { 
	margin-top: 1em
}

.Header img { 
	display: block;
	float: left;
	margin-top: 5px;
}

.ShuffleName { 
	background: #f2f2f2;
	font-size: 2.8em;
	padding: .1em;
	display: block;
	float: right;
	width: 596px;
	color: #999;
}


.TaskListButtons { 
	margin-top: 2em;
	margin-bottom: .3em;
	text-align: right;
}

.TaskListButtons img {
	margin-left: 20px;
	vertical-align: middle;
}

.TaskListButtons {
	color: #999;
}

.TaskListButtons span {
	cursor: pointer;
}

.TaskList { 
	padding: .5em;
	font-size: 3em; 
	list-style-type: none;
	background-image: url(../images/diagonals.png);
	background-repeat: repeat;
	margin: 0;
}

.TaskList button.ui-button { width: .8em; margin-right: .3em;}
.TaskList button span.ui-button-icon-primary { left: 0.2em;}
.TaskList li { background: #fff; margin-bottom: .15em; padding: .25em;}
.TaskList li > img { display: block; float: left; margin-top: .15em; cursor: pointer;}
.TaskList li .TaskContent { display: block; float: right; color: #5e5e5e; width: 828px;}
.TaskList li .TaskContent > span { cursor: move; }
.Tasklist li .TaskContent img { float: right; bottom: 0; cursor: pointer; }

.TaskList .TaskComplete { 
	text-decoration: line-through;
	color: #ccc;
}